<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/dark_mode.css" | relative_url }}">
</head>
<body>

    <button id="toggle-dark-mode" style="position: fixed; top: 20px; right: 20px;">Toggle Dark Mode</button>

    TEST 123123123123
    justin

    <script>
        const toggleButton = document.getElementById('toggle-dark-mode');
        toggleButton.addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
        });

        if (localStorage.getItem('dark-mode') === 'enabled') {
            document.body.classList.add('dark-mode');
        }

        toggleButton.addEventListener('click', function() {
            if (document.body.classList.contains('dark-mode')) {
                localStorage.setItem('dark-mode', 'enabled');
            } else {
                localStorage.setItem('dark-mode', 'disabled');
            }
        });
    </script>
</body>
</html>
